SmarDocProcessor.zip
obj/Debug/net8.0-windows10.0.19041.0/ref/SmartDocProcessor.dll
bin/Debug/net8.0-windows10.0.19041.0/BouncyCastle.Crypto.dll
bin/Debug/net8.0-windows10.0.19041.0/CommunityToolkit.Mvvm.dll
bin/Debug/net8.0-windows10.0.19041.0/history.json
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.AspNetCore.Authorization.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.AspNetCore.Components.Authorization.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.AspNetCore.Components.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.AspNetCore.Components.Forms.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.AspNetCore.Components.Web.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.AspNetCore.Components.WebView.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.AspNetCore.Components.WebView.Wpf.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.AspNetCore.Metadata.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.Configuration.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.FileProviders.Composite.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.FileProviders.Embedded.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.Logging.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.Options.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.JSInterop.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Web.WebView2.Core.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Web.WebView2.WinForms.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Web.WebView2.Wpf.dll
bin/Debug/net8.0-windows10.0.19041.0/Microsoft.Windows.SDK.NET.dll
bin/Debug/net8.0-windows10.0.19041.0/PdfSharp.Charting.dll
bin/Debug/net8.0-windows10.0.19041.0/PdfSharp.dll
bin/Debug/net8.0-windows10.0.19041.0/PdfSharp.Quality.dll
bin/Debug/net8.0-windows10.0.19041.0/PdfSharp.Snippets.dll
bin/Debug/net8.0-windows10.0.19041.0/PdfSharp.System.dll
bin/Debug/net8.0-windows10.0.19041.0/PdfSharp.WPFonts.dll
bin/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.deps.json
bin/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.dll
bin/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.exe
bin/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.pdb
bin/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.runtimeconfig.json
bin/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.staticwebassets.runtime.json
bin/Debug/net8.0-windows10.0.19041.0/System.IO.Pipelines.dll
bin/Debug/net8.0-windows10.0.19041.0/WinRT.Runtime.dll
bin/Debug/net8.0-windows10.0.19041.0/de/PdfSharp.Charting.resources.dll
bin/Debug/net8.0-windows10.0.19041.0/de/PdfSharp.resources.dll
bin/Debug/net8.0-windows10.0.19041.0/runtimes/win-arm64/native/WebView2Loader.dll
bin/Debug/net8.0-windows10.0.19041.0/runtimes/win-x64/native/WebView2Loader.dll
bin/Debug/net8.0-windows10.0.19041.0/runtimes/win-x86/native/WebView2Loader.dll
~$요구사항.xlsx
요구사항.xlsx
obj/SmartDocProcessor_2drqkzty_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_2drqkzty_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_2drqkzty_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_5nanajkq_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_5nanajkq_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_5nanajkq_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_b3m5rgds_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_b3m5rgds_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_b3m5rgds_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_bapywjzq_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_bapywjzq_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_bapywjzq_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_biwwe2jg_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_biwwe2jg_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_biwwe2jg_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_dv2sp5wl_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_dv2sp5wl_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_dv2sp5wl_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_fiuusgnj_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_fiuusgnj_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_fiuusgnj_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_ijmqmcfs_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_ijmqmcfs_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_ijmqmcfs_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_ipkk53sg_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_ipkk53sg_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_ipkk53sg_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_jebyahem_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_jebyahem_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_jebyahem_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_jx3nkstv_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_jx3nkstv_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_jx3nkstv_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_kwqby1uu_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_kwqby1uu_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_kwqby1uu_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_mnb25xig_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_mnb25xig_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_mnb25xig_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_nin33ouz_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_nin33ouz_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_nin33ouz_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_pxspekcx_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_pxspekcx_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_pxspekcx_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_qw3atmcf_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_qw3atmcf_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_qw3atmcf_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor_ybrbfpgi_wpftmp.csproj.nuget.dgspec.json
obj/SmartDocProcessor_ybrbfpgi_wpftmp.csproj.nuget.g.props
obj/SmartDocProcessor_ybrbfpgi_wpftmp.csproj.nuget.g.targets
obj/SmartDocProcessor.csproj.nuget.dgspec.json
obj/SmartDocProcessor.csproj.nuget.g.props
obj/SmartDocProcessor.csproj.nuget.g.targets
obj/Debug/net8.0-windows10.0.19041.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0-windows10.0.19041.0/App.g.cs
obj/Debug/net8.0-windows10.0.19041.0/apphost.exe
obj/Debug/net8.0-windows10.0.19041.0/GeneratedInternalTypeHelper.g.cs
obj/Debug/net8.0-windows10.0.19041.0/MainWindow.baml
obj/Debug/net8.0-windows10.0.19041.0/MainWindow.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDoc.2DD85E7E.Up2Date
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_01crciia_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_01crciia_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_01crciia_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_01crciia_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_01crciia_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_2drqkzty_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_2drqkzty_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_2drqkzty_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_2drqkzty_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_2drqkzty_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_5nanajkq_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_5nanajkq_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_5nanajkq_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_5nanajkq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_5nanajkq_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_5txd3hnv_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_5txd3hnv_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_5txd3hnv_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_5txd3hnv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_5txd3hnv_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_alzuq0a1_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_alzuq0a1_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_alzuq0a1_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_alzuq0a1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_alzuq0a1_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_aqibzdtm_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_aqibzdtm_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_aqibzdtm_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_aqibzdtm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_aqibzdtm_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_b3m5rgds_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_b3m5rgds_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_b3m5rgds_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_b3m5rgds_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_b3m5rgds_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_bapywjzq_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_bapywjzq_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_bapywjzq_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_bapywjzq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_bapywjzq_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_biwwe2jg_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_biwwe2jg_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_biwwe2jg_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_biwwe2jg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_biwwe2jg_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_boi0ooo2_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_boi0ooo2_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_boi0ooo2_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_boi0ooo2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_boi0ooo2_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_Content.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_dv2sp5wl_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_dv2sp5wl_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_dv2sp5wl_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_dv2sp5wl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_dv2sp5wl_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_dwhvcnzc_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_dwhvcnzc_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_dwhvcnzc_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_dwhvcnzc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_dwhvcnzc_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_f4mdml3p_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_f4mdml3p_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_f4mdml3p_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_f4mdml3p_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_f4mdml3p_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_fiuusgnj_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_fiuusgnj_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_fiuusgnj_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_fiuusgnj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_fiuusgnj_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_fmjfnkzw_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_fmjfnkzw_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_fmjfnkzw_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_fmjfnkzw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_fmjfnkzw_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_g2nxqbo5_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_g2nxqbo5_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_g2nxqbo5_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_g2nxqbo5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_g2nxqbo5_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_gdagapp2_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_gdagapp2_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_gdagapp2_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_gdagapp2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_gdagapp2_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ii00p4az_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ii00p4az_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ii00p4az_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ii00p4az_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ii00p4az_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ijmqmcfs_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ijmqmcfs_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ijmqmcfs_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ijmqmcfs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ijmqmcfs_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ilzxx5pn_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ilzxx5pn_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ilzxx5pn_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ilzxx5pn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ilzxx5pn_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ipkk53sg_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ipkk53sg_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ipkk53sg_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ipkk53sg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ipkk53sg_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jebyahem_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jebyahem_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jebyahem_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jebyahem_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jebyahem_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jq1lxyrt_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jq1lxyrt_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jq1lxyrt_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jq1lxyrt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jq1lxyrt_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jx3nkstv_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jx3nkstv_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jx3nkstv_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jx3nkstv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_jx3nkstv_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_kly4oo2f_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_kly4oo2f_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_kly4oo2f_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_kly4oo2f_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_kly4oo2f_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_kwqby1uu_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_kwqby1uu_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_kwqby1uu_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_kwqby1uu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_kwqby1uu_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_MarkupCompile.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_MarkupCompile.lref
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_mnb25xig_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_mnb25xig_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_mnb25xig_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_mnb25xig_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_mnb25xig_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_mrxv4zcd_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_mrxv4zcd_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_mrxv4zcd_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_mrxv4zcd_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_mrxv4zcd_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_nin33ouz_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_nin33ouz_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_nin33ouz_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_nin33ouz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_nin33ouz_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_oqc0zf4k_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_oqc0zf4k_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_oqc0zf4k_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_oqc0zf4k_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_oqc0zf4k_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_p2r4slkt_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_p2r4slkt_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_p2r4slkt_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_p2r4slkt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_p2r4slkt_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_pxspekcx_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_pxspekcx_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_pxspekcx_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_pxspekcx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_pxspekcx_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_qw3atmcf_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_qw3atmcf_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_qw3atmcf_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_qw3atmcf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_qw3atmcf_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_r5potc1k_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_r5potc1k_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_r5potc1k_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_r5potc1k_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_r5potc1k_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ttnxrik3_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ttnxrik3_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ttnxrik3_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ttnxrik3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ttnxrik3_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_u3l0d0hg_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_u3l0d0hg_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_u3l0d0hg_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_u3l0d0hg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_u3l0d0hg_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_un5xncbg_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_un5xncbg_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_un5xncbg_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_un5xncbg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_un5xncbg_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_vdrupmxs_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_vdrupmxs_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_vdrupmxs_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_vdrupmxs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_vdrupmxs_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ybrbfpgi_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ybrbfpgi_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ybrbfpgi_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ybrbfpgi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_ybrbfpgi_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_zqk2cuyr_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_zqk2cuyr_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_zqk2cuyr_wpftmp.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_zqk2cuyr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor_zqk2cuyr_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.csproj.AssemblyReference.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.csproj.CoreCompileInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.csproj.FileListAbsolute.txt
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.dll
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.g.resources
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.genruntimeconfig.cache
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.GlobalUsings.g.cs
obj/Debug/net8.0-windows10.0.19041.0/SmartDocProcessor.pdb
obj/Debug/net8.0-windows10.0.19041.0/staticwebassets.build.json
obj/Debug/net8.0-windows10.0.19041.0/staticwebassets.development.json
obj/Debug/net8.0-windows10.0.19041.0/staticwebassets.pack.json
obj/Debug/net8.0-windows10.0.19041.0/refint/SmartDocProcessor.dll
obj/Debug/net8.0-windows10.0.19041.0/staticwebassets/msbuild.build.SmartDocProcessor.props
obj/Debug/net8.0-windows10.0.19041.0/staticwebassets/msbuild.buildMultiTargeting.SmartDocProcessor.props
obj/Debug/net8.0-windows10.0.19041.0/staticwebassets/msbuild.buildTransitive.SmartDocProcessor.props
obj/Debug/net8.0-windows10.0.19041.0/staticwebassets/msbuild.SmartDocProcessor.Microsoft.AspNetCore.StaticWebAssets.props
